.gallery-img {
    width: 400px;
    height: 200px;
    
}

.gallery-text {
    text-decoration: underline;
    text-shadow: 0 0 2px #000;
    font-size: 34px;
    text-transform: capitalize;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}

 .gallery-btn {
    box-shadow: 1px 2px 2px #000;
 }
.btn:hover {
    box-shadow: 1px 4px 4px #000;
}
.g-icon {
    border-radius: 4px;
    background:#000; 
    color: #fde719;
    margin-left: 5px;
}