* {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    display: block;
    justify-content: center;
    color: #212529;
}

.row {
  display: flex;
  justify-content: space-around;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.section {
  margin-bottom: 80px;
}
h1,
h2,
h3 {
  font-family:inherit;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
  }
  
  button {
    display: inline-flex;
    height: 50px;
    background: #fbef2f;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: 'Quicksand' sans-serif;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
  }

  .button:hover {
    background:#fde719 ;
  }
/* type car section */
  .type-car {
    width:250px;
    height:200px;
  }

  /* services section*/

  .service-img {
   margin-top: -70px;
  }

  .text {
    font-family: sans-serif;
    line-height: 28px;
    font-style: normal;
    font-size: 18px;
    color: #888888;
  }
  
  .service {
    margin: 200px 0 -100px 0;

  }
  .footer {
    background-color: #3f4246;
    
} 

/*  WhyUs section style */
.Icon {
  font-size: 35px;
  margin:0 8px 15px 0;
  color: #fde719;
}

/*  contact section style */
  .contact {
    padding-top: 40px;
  }
  
  .icon {
  justify-content: center;
  align-items: center; 
  display: flex;
  font-size: 15px;
  margin-right: 8px;
  color: #fde719;
  cursor: pointer;
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;  
}

.icon:hover {
  color: #fbef2f;
}

.c-img {
  width: 100%;
  height: 350px;
  position:absolute;
  z-index: -1;
}

